# Install Requirements

In [2]:
! pip install SQLAlchemy
! pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: SQLAlchemy in c:\users\adithya.pokharel\appdata\roaming\python\python39\site-packages (2.0.12)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\adithya.pokharel\appdata\roaming\python\python39\site-packages (from SQLAlchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\adithya.pokharel\appdata\roaming\python\python39\site-packages (from SQLAlchemy) (1.1.2)
Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2
  Downloading psycopg2-2.9.6-cp39-cp39-win_amd64.whl (1.2 MB)
                                              0.0/1.2 MB ? eta -:--:--
                                              0.0/1.2 MB ? eta -:--:--
     -                                        0.0/1.2 MB 435.7 kB/s eta 0:00:03
     ----                                     0.1/1.2 MB 1.2 MB/s eta 0:00:01
     ------                                   0.2/1.2 MB 1.3 MB/s eta 0:00:01
     -----------                              0.3/1.2 MB 1.6 MB/s eta 0:00:01
     -----------------                        0.5/1.2 MB 2.0 MB/s eta 0:00:01
     ---------------------------              0.8/1.2 MB 2.6 MB/s eta 0:00:01
     -------------------------------          0.9/1.2 MB 2.5 MB/s eta 0:00:01
     -------------------------------------    1.1/1.2 MB 2.8 MB/s eta 0:00:01
     ---------------------------------------  1.2/1.2 MB 2.6 MB/s eta 0:00:01
     ---------------------------------------- 1.2/1.2 MB 2.6 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6

# Connecting to postgres

In [31]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

def get_engine(username,password,host,db):
    engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{host}/{db}')
    print(engine)
    engine.connect()
    session=sessionmaker(bind=engine)()
    return (engine,session)
engine,session=get_engine("postgres","postgres","host.docker.internal","postgres")

Engine(postgresql+psycopg2://postgres:***@host.docker.internal/postgres)

# Defining and Creating Schema

In [71]:
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import relationship,backref

Base = declarative_base()

class User(Base):
    __tablename__ = 'user'

    id = Column(Integer(), primary_key=True)
    name=Column(String())
    email=Column(String(),unique=True)

    def __repr__(self):
        return f"{self.id},{self.name},{self.email}"
    
class City(Base):
    __tablename__="city"

    id=Column(Integer(),primary_key=True)
    name=Column(String(),unique=True)
    
    def __repr__(self):
        return f"{self.id},{self.name}"
    
class Address(Base):
    __tablename__="address"

    id=Column(Integer(),primary_key=True)
    city_id=Column(Integer(),ForeignKey("city.id"))
    zip_code=Column(Integer())
    user_id=Column(Integer(),ForeignKey("user.id"))
    city = relationship(City, backref=backref("city", cascade="all,delete"))
    user = relationship(User, backref=backref("user", cascade="all,delete"))

    def __repr__(self):
        return f"{self.id},{self.city_id},{self.zip_code},{self.user_id}"

Base.metadata.create_all(engine)

# Populating the cities table

In [40]:
cities=['Lalitpur', ' Budhanilkantha', ' Tarakeshwar', ' Gokarneshwar', ' Suryabinayak', ' Tokha', ' Kirtipur', ' Madhyapur Thimi', ' Bhaktapur', ' Changunarayan']
temp=[]
for i in cities:
    temp.append(City(name=i))
session.add_all(temp)
session.commit()

# Querying The inserted Cites

In [41]:
session.query(City).all()

[41,Lalitpur,
 42, Budhanilkantha,
 43, Tarakeshwar,
 44, Gokarneshwar,
 45, Suryabinayak,
 46, Tokha,
 47, Kirtipur,
 48, Madhyapur Thimi,
 49, Bhaktapur,
 50, Changunarayan]

# Populating the user table

In [42]:
names=[("Samantha Jones", "samanthajones774@example.com"),
 ("Isaac Lee", "isaaclee3201@example.com"),
 ("Emily Chen", "emilychen67@example.com"),
 ("Maxwell Liu", "maxwellliu789@example.com"),
 ("Avery Johnson", "averyjohnson22@example.com"),
 ("Olivia Kim", "oliviakim1137@example.com"),
 ("Michael Nguyen", "michaelnguyen90@example.com"),
 ("Aiden Brown", "aidenbrown525@example.com"),
 ("Sophia Davis", "sophiadavis942@example.com"),
 ("Daniel Garcia", "danielgarcia461@example.com")]

temp=[]
for name,email in names:
        temp.append(User(name=name,email=email))
session.add_all(temp)
session.commit()

In [47]:
session.query(User).all()

[1,Adithya pokharel,adithya@gmail.com,
 3,Samantha Jones,samanthajones774@example.com,
 4,Isaac Lee,isaaclee3201@example.com,
 5,Emily Chen,emilychen67@example.com,
 6,Maxwell Liu,maxwellliu789@example.com,
 7,Avery Johnson,averyjohnson22@example.com,
 8,Olivia Kim,oliviakim1137@example.com,
 9,Michael Nguyen,michaelnguyen90@example.com,
 10,Aiden Brown,aidenbrown525@example.com,
 11,Sophia Davis,sophiadavis942@example.com,
 12,Daniel Garcia,danielgarcia461@example.com]

# Populating the address table with random addresses

In [68]:
import random

users=session.query(User).all()
cities=session.query(City).all()
# Shuffling the cities and users
random.shuffle(cities)
random.shuffle(users)
#forming a list of (user,city) 
temp=list(zip(users,cities))
obj=[]
for user,city in temp:
        obj.append(
            Address(
                city_id=city.id,
                zip_code=''.join([str(random.randint(0,10)) for i in range(4)]),
                user_id=user.id
        )
    )
session.add_all(obj)
session.commit()

# Querying the addresses inserted

In [70]:
session.query(Address).all()

[1,49,17108,5,
 2,48,160,1,
 3,43,8174,10,
 4,45,16105,9,
 5,50,5709,4,
 6,41,8088,3,
 7,46,7061,12,
 8,42,1660,7,
 9,44,2799,6,
 10,47,21097,8]

In [73]:
session.query(Address).all()

[1,49,17108,5,
 2,48,160,1,
 3,43,8174,10,
 4,45,16105,9,
 5,50,5709,4,
 6,41,8088,3,
 7,46,7061,12,
 8,42,1660,7,
 9,44,2799,6,
 10,47,21097,8]

# Using filter to query with given condition

In [77]:
session.query(User).filter(User.id==1).all()

[1,Adithya pokharel,adithya@gmail.com]

# Deleting the user with id 1 should also delete the record with user_id 1 in the address table

In [84]:
user_1=session.query(User).filter(User.id==1).first()
session.delete(user_1)

In [86]:
session.query(Address).all()

[1,49,17108,5,
 3,43,8174,10,
 4,45,16105,9,
 5,50,5709,4,
 6,41,8088,3,
 7,46,7061,12,
 8,42,1660,7,
 9,44,2799,6,
 10,47,21097,8]

# Updating the record in the user table

In [89]:
user=session.query(User).all()
user

[3,Samantha Jones,samanthajones774@example.com,
 4,Isaac Lee,isaaclee3201@example.com,
 5,Emily Chen,emilychen67@example.com,
 6,Maxwell Liu,maxwellliu789@example.com,
 7,Avery Johnson,averyjohnson22@example.com,
 8,Olivia Kim,oliviakim1137@example.com,
 9,Michael Nguyen,michaelnguyen90@example.com,
 10,Aiden Brown,aidenbrown525@example.com,
 11,Sophia Davis,sophiadavis942@example.com,
 12,Daniel Garcia,danielgarcia461@example.com]

In [95]:
user=session.query(User).filter(User.id==11).first()
user.name="Adithya Pokharel"
user.email="adithya@example.com"

In [96]:
user=session.query(User).filter(User.id==11).all()
user

[11,Adithya Pokharel,adithya@example.com]

In [109]:
a=session.query(User).filter(User.id==12)
a.update({User.name:"James Bond"})

1

In [110]:
a.first()

12,James Bond,danielgarcia461@example.com